<div id="content" class="container">
    <div>
    <header id="content-header">
    <div class="col-lg-12">
    <div class="text-center">
    	<h1> ABOUT US </h1>
    </div>
    <h3> What is Weirdwolf? </h3>
    <h4>Weirdwolf Designs is a design and apparel company created in early 2016 by two college students. The founders, Dan Gorodezky and Jose Zaga, combined their skills for design-making and printing. Weirdwolf is based in San Diego, California.</h4>
    <h3> How do the shirts fit? </h3>
    <h4>Most shirts are printed on BELLA CANVAS. They have a slim fit with a soft fabric.</h4>
    <h3> How are they printed? </h3>
    <h4> Our shirts are freshly printed using the latest in digital printing technology.</h4>
    <div class="row top-buffer"></div>
    </header>
    </div>
    </div>

</div>


