<h1>ABOUT US</h1>
<p>Weirdwolf Designs is a design company created in early 2016 by two college students who have a passion for making people look good in dope t-shirts. The founders, Dan Gorodezky and Jose Zaga, combined their skills for design-making and printing. Weirdwolf is based in San Diego, California.</p>
