<div id="content" class="container">
    <div>
    	<header id="content-header">
    	<div class="col-lg-12">
    		<div class="text-center">
    			<h1> CONTACT US </h1>
    		</div>
    		<h3> NEED HELP? </h3>
    		<h4>If you have any issues, send us an email at weirdwolfdesigns@gmail.com</h4>
    	</header>
    	<div class="row top-buffer"></div>
    	<div class="row top-buffer"></div>
    	</div>
    </div>

</div>